# Django
SECRET_KEY=change-me
DEBUG=True

# Postgres
POSTGRES_DB=bot
POSTGRES_USER=bot
POSTGRES_PASSWORD=bot

# Telegram
BOT_TOKEN=
BASE_URL=
TELEGRAM_WEBHOOK_SECRET=

# Геокодеры
YANDEX_API_KEY=
OPENCAGE_API_KEY=

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
